<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" />
    <link rel="shortcut icon" href="/static/img/camping/famico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/thema.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/contenido.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/dropdown.css">
    <link rel="stylesheet" href="/static/css/formularios.css">
    <title>campamento</title>
</head>

<body>

    <header class="header">
        <div class="logo"><img src="/static/img/camping/famico.jpg" alt="LOGO" style="width: 12vw; height: 12vh;"></div>
        <h1 class="title__page">Bienvenido a nuestra parcela</h1>
        <div class="language-dropdown">
            <span>Idioma <i class="ri-earth-fill"></i> </span>
            <div class="language-dropdown-content">
                <a href="#" class="selLang">
                    <img src="/static/img/languaje/Colombia/colombia-color-16.png" alt="Colombia">
                    <span class="tooltip">Español</span>
                </a>
                <a href="#" class="selLang">
                    <img src="/static/img/languaje/Great Britain/great-britain-color-16.png" alt="Great Britain">
                    <span class="tooltip">Ingles</span>
                </a>
                <!-- Agrega más opciones de idioma aquí -->
            </div>
        </div>
    </header>
    <div class="containernavbar">
        <input type="checkbox" name="menuchecheck" id="menuchecheck">
        <nav class="navbar" id="navbar">
            <a class="enlace" href="/">Inicio</a>
            <div class="dropdown">
                <span href="#">Información &#9662</span>
                <div class="dropdown-content">
                    <a href="#" class="enlace" target="_blank" rel="noopener noreferrer">Noticias</a>
                    <a href="#" class="enlace" target="_blank" rel="noopener noreferrer">Recomendaciones</a>
                    <a href="#" class="enlace" target="_blank" rel="noopener noreferrer">Cuando visitar</a>
                </div>
            </div>
            <a class="enlace" href="#formulario">Agéndate</a>
            <a class="enlace" href="#">Galería</a>
            <a class="enlace" href="#">Contacto</a>
        </nav>
        <label for="menuchecheck" class="menuicons">
            <i class="ri-menu-fill" id="menuicon"></i>
            <i class="ri-close-large-fill" id="closeicon"></i>
        </label>
    </div>
    <div class="container">
        <p>Ofrecemos una experiencia única con zonas de camping y caminatas por playas y ríos.</p>
    </div>

    <div class="content">
        <div class="box">
            <h3 class="box__tittle">Cabaña</h3>
            <div class="box__content">
                <img src="/static/img/camping/cabaña.jpg" alt="Cabaña" class="img">
                <article class="box__article">
                    <p>Disfruta de unas vacaciones inolvidables en nuestras acogedoras cabañas cerca de playas y ríos.
                        Nuestros alojamientos ofrecen comodidad, privacidad y la oportunidad de conectar con la
                        naturaleza.
                    <h1>Incluido en tu alquiler:</h1>

                    <b> &#9830 Cajon:</b> donde puedes dejar tus pertenencias y no preocuparte por tus objetos
                    personales
                    <br><b> &#9830 Mosquitera:</b>Para una experiencia libre de insectos
                    </p>
                </article>
            </div>
        </div>
        <div class="box">
            <h3 class="box__tittle">Hamaca</h3>
            <div class="box__content">
                <img src="/static/img/camping/hamaca.jpg" alt="Hamaca" class="img">
                <article class="box__article">
                    <p>Sumérgete en la tranquilidad de la naturaleza con nuestro alquiler de hamacas. Nuestras hamacas
                        son cómodas,
                        duraderas y perfectas para relajarse al aire libre. Ya sea que desees leer un libro, tomar una
                        siesta o simplemente
                        disfrutar del paisaje, nuestras hamacas son la elección perfecta. <br>
                        <br>
                    <h1>Incluido en tu alquiler:</h1>
                    <br>

                    <b> &#9830 Hamaca de alta calidad:</b> Nuestras hamacas están hechas de materiales resistentes y
                    cómodos, garantizando un descanso placentero. <br>

                    <b>&#9830 Kit de instalación:</b> Proporcionamos todo lo necesario para colgar la hamaca, incluyendo
                    correas ajustables y ganchos de seguridad. <br>
                    <b>&#9830 Guía de uso:</b> Te proporcionamos instrucciones claras sobre cómo instalar y desmontar la
                    hamaca de manera segura. <br>

                    <h1>Opciones adicionales:</h1> <br>

                    <b>&#9830 Mosquitera:</b> Para una experiencia libre de insectos, puedes optar por añadir una
                    mosquitera a tu alquiler. <br>
                    <b>&#9830 Toldo impermeable:</b> Si planeas usar la hamaca durante la noche o en condiciones
                    climáticas
                    variables, un toldo impermeable puede ser una excelente adición. <br>
                    <b>&#9830 Almohada para hamaca:</b> Para un confort extra, ofrecemos almohadas diseñadas
                    específicamente para
                    usar en hamacas. <br><br>
                    Nuestro alquiler de hamacas es más que solo un lugar para dormir. Es una invitación a conectar
                    con la naturaleza y disfrutar de la simplicidad de la vida al aire libre. ¡Reserva hoy mismo y
                    experimenta la diferencia!
                    </p>
                </article>
            </div>
        </div>
        <div class="box">
            <h3 class="box__tittle">Zona Camping</h3>
            <div class="box__content">
                <img src="/static/img/camping/camping.jpg" alt="Campings" class="img">
                <article class="box__article">
                    <p>Bienvenidos a nuestro camping rodeado de naturaleza! Aquí encontrarás todo lo necesario para una
                        experiencia de acampada inolvidable:. <br>
                        <br><b>Parcelas amplias: </b>
                        Ofrecemos espacios amplios para acampar con tu tienda o caravana.
                        <br><b> Zonas de fogata:</b> Disfruta de noches alrededor del fuego con amigos y familiares.
                        <br><b>Baños y duchas:</b>b> Mantente fresco y limpio durante tu estadía.
                        <br><b> Senderos y actividades:</b>b> Explora nuestros senderos para caminatas, paseos en
                        bicicleta o avistamiento de aves.
                        <br><b>Áreas de picnic:</b> Comparte comidas al aire libre en nuestras áreas de picnic.
                        <br><b>Conexión con la naturaleza:</b> Desconéctate y disfruta de la tranquilidad del
                        entorno natural.
                        <br> <br>
                        ¡Ven y únete a nosotros para una experiencia de camping inolvidable!"
                    </p>
                </article>
            </div>
        </div>
    </div>
    <form action="" class="formulario" id="formulario">
        <label for="fname">Nombre completo</label>
        <input class="input" type="text" id="fname" name="firstname" placeholder="Your name.." required>

        <label for="correoe">Correo electronico</label>
        <input class="input" type="email" name="correoe" id="correoe" placeholder="you E-mail" required>

        <label for="fecha">Fecha</label>
        <input class="input" type="date" name="fecha" id="fecha" required>

        <label for="cantidad"><i class="ri-group-line"></i></label>
        <input class="input" type="number" name="cantidad" id="cantidad" required pattern="[0-9]+">

        <input type="submit" value="Submit">
    </form>
    </div>

</body>
</body>

</html>