.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bgcolor);
    backdrop-filter: blur(3px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: var(--dropdown-hocolor);
}

.dropdown:hover .dropdown-content {
    display: flex;
    left: 30%;
    flex-direction: column;
}

@media (max-width: 800px) {
.media{
    background-color: 0xFFFFFBFE;
}
}