.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .input:focus {
    border: 3px solid #086303;
    background-color: aquamarine;
  }
  
  input[type=submit] {
    width: 50%;
    background-color: #07960c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #033306;
  }

  .formulario {
    border-radius: 5px;
    background-color: #f2f2f285;
    padding: 20px;
    text-align: center;
  }